.question-subtest2{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.img-subtest-2{
  width: 600px;
}

.is-correct-subtest-2{
  padding-left: 180px;
  display: flex;
}

.input-is-correct-subtest2{
  margin-right: 70px;
}